@import "../../../shared/highlightjs_themes/dracula.scss";

mat-form-field.mat-form-field {
    width: 100%;
    font-size: 14pt;
    color: white;
}

.show-content {
    color: white;
    text-align: justify;
}

.publish-article {
    margin-top: 50pt;
}

.description-input {
    height: 80pt;
}

#article-container {
    margin-top: 30pt;
    padding: 5pt;
    text-align: justify;
    border: 2pt solid white;
    border-radius: 4pt;
}

.control-label {
    color: white;
    float: left;
}

#article-container img{
    height: auto;
    max-width: 400pt;
    margin: 0 auto;
}

#article-container h3,
#article-container h2 {
    text-align: left;
}

.navigate-button-up {
    position: fixed;
    bottom: 85px;
    right: 20px;
    z-index: 10;
}

.navigate-button-down {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 10;
}