<footer class="footer text-center text-lg-start">
    <div class="footer-theme p-3">
        <div class="links">
            <a href="https://github.com/MiguelMarcelino/SomnusWebsite">
                <img class="link-image color-inverted-img" src="https://img.icons8.com/carbon-copy/100/000000/github.png"/>
            </a>
        </div>
        <p>2021 - The {{title}} team</p>
        <p>{{title}} is open source! If you wan't to contribute to the development of {{title}}, feel free to contact us!</p>
        
    </div>
</footer>
