<div class="page-content">

    <div class="user-info-wrapper">
        <div class="img-left">
            <img class="user-profile-img mat-elevation-z8" src="../../../assets/icons/user-profile.png">
        </div>
        <div class="content-right">
            <!-- Username -->
            <div class="info-wrapper">
                <a class="info-left">Username</a>
                <a class="info-right">{{userInfo.username}}</a>
            </div>
            <hr>
            <!-- First Name -->
            <div class="info-wrapper">
                <a class="info-left">First Name</a>
                <a class="info-right">{{userInfo.firstName}}</a>
            </div>
            <hr>
            <!-- Last Name -->
            <div class="info-wrapper">
                <a class="info-left">Last Name</a>
                <a class="info-right">{{userInfo.lastName}}</a>
            </div>
            <hr>
            <!-- Email -->
            <div class="info-wrapper">
                <a class="info-left">Email</a>
                <a class="info-right">{{userInfo.email}}</a>
            </div>
        </div>
    </div>
</div>