<div class="page-content wrapper">

    <div class="user-info-wrapper">
        <div class="img-left">
            <img class="user-profile-img mat-elevation-z8" src="../../../assets/icons/user-profile.png">
        </div>
        <div class="content-right">
            <!-- Username -->
            <div class="info-wrapper">
                <a class="info-left" title="Your ID number on Somnus">Id</a>
                <a class="info-right" title="Your ID number on Somnus">{{userInfo.userId}} </a>
            </div>
            <hr>
            <!-- First Name -->
            <div class="info-wrapper">
                <a class="info-left">First Name</a>
                <a class="info-right">{{userInfo.firstName}}</a>
            </div>
            <hr>
            <!-- Last Name -->
            <div class="info-wrapper">
                <a class="info-left">Last Name</a>
                <a class="info-right">{{userInfo.lastName}}</a>
            </div>
            <hr>
            <!-- Email -->
            <div class="info-wrapper">
                <a class="info-left">Email</a>
                <a class="info-right">{{userInfo.email}}</a>
            </div>
        </div>
    </div>

    <mat-expansion-panel class="edit-user-info" *ngIf="user">
        <mat-expansion-panel-header [collapsedHeight]="'60pt'" [expandedHeight]="'60pt'">
            <mat-panel-description collapsedHeight="'60pt'">
               <p id="edit-user-header">Edit your profile</p>
            </mat-panel-description>
        </mat-expansion-panel-header>

        <app-update-user-info></app-update-user-info>
    </mat-expansion-panel>

    <hr>
    <div *ngIf="deletedArticles">
        <h3>Deleted Articles</h3>
        <div *ngFor="let article of deletedArticles" class="grid-container">
            <div [routerLink]="['/article/',article.id,article.normalizedTopic,article.normalizedName]">
                <app-post-box-component 
                    [imgSource]="'../../../assets/icons/Document-lines.png'"
                    [post]="article">
                </app-post-box-component>
            </div>
        </div>
    </div>
    <div *ngIf="!deletedArticles">
        <p>You have no deleted Articles</p>
    </div>

    <hr>
    <div *ngIf="deletedNewsPosts">
        <h3>Deleted News Posts</h3>
        <div *ngFor="let newsPost of deletedNewsPosts" class="grid-container">
            <div [routerLink]="['/news-post/',newsPost.id,newsPost.normalizedName]">
                <app-post-box-component
                    [imgSource]="'../../../assets/icons/tech-lines.png'"
                    [post]="newsPost">
                </app-post-box-component>
            </div>
        </div>
    </div>
    <div *ngIf="!deletedNewsPosts">
        <p>You have no deleted News Posts</p>
    </div>
</div>