
<div class="content-wrapper" *ngIf="article">
    <div id="article-info">
        <h2>{{article.articleName}}</h2>
        <h3 class="article-author">Written by <span class="author-name">{{article.authorUserName}}</span></h3>
        <h3>Published on {{article.datePublished | date:'mediumDate'}}</h3>
        <h3 *ngIf="article.lastUpdate">Last Updated on {{article.lastUpdate | date:'mediumDate'}}</h3>
        <div class="article-text" [innerHTML]="article.content">
            <!-- <div [innerHTML]="article.content"></div> -->
        </div>
    </div>

    <!-- Comments Section -->
    <app-comments-section [articleId]="article.id"></app-comments-section>

    <mat-expansion-panel *ngIf="isArticleOwnerOrAdmin()">
        <mat-expansion-panel-header [collapsedHeight]="'50pt'" [expandedHeight]="'50pt'">
            <mat-panel-description collapsedHeight="'50pt'">
               Article Edit options
            </mat-panel-description>
        </mat-expansion-panel-header>

        <div class="article-options">
            <button class="custom-button" mat-raised-button color="warn" *ngIf="isArticleOwnerOrAdmin()" (click)="deleteArticle()">
                Delete Article
            </button>
            <button class="custom-button" mat-raised-button color="primary" *ngIf="isArticleOwnerOrAdmin()" (click)="editArticle()">
                Edit Article
            </button>
        </div>
    </mat-expansion-panel>
   
</div>
