
<div class="content-wrapper" *ngIf="article">
    <h2>{{article.articleName}}</h2>
    <h3 class="article-author">Written by <span class="author-name">{{article.authorUserName}}</span></h3>
    <h3>Published on {{article.datePublished | date:'mediumDate'}}</h3>
    <div class="article-text">
        <p [innerHTML]="article.content"></p>
    </div>
    <button class="delete-button" mat-raised-button color="warn" *ngIf="isArticleOwnerOrAdmin()" (click)="deleteArticle()">
        Delete Article
    </button>
</div>
