
<div class="page-style" *ngIf="isLoaded">
    <h2>Login to Somnus</h2>
    <div class="row-fluid contact-form">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" method="post">    
            <div class="form-group">
                <!-- Email: -->
                <label for="email" class="control-label">Email</label>
                <input type="email" class="form-control" id="email" formControlName="email" placeholder="example@gmail.com">
            </div>
            <div class="form-group">
                <!-- Password  -->
                <label for="password" class="control-label">Password</label>
                <input type="password" class="form-control" id="password" formControlName="password" placeholder="***********">
            </div>
            <div class="form-group">
                <!-- Register Button -->
                <button type="submit" class="btn btn-primary">Login</button>
            </div>
        </form>
    </div>
    <div class="other-accounts">
        <p>Or Login with another account</p>
        <button
            (click)="loginGoogle()" 
            mat-icon-button
            color="accent"
            class="account-button color-inverted-img"  
            [ngStyle]="{ 'background-image': 'url(' + googlePhoto +')' }">
        </button>
    </div>

    <div class="sign-up-component-access">
        <p>If you haven't created an account yet, <a routerLink="/register">Sign Up now</a></p>
    </div>
</div>