<!-- <div>
    <a class="backgroundText">> $ server please respond</a>
    <br>
    <a class="backgroundText">> $ no!</a>  
    
</div> -->
<div class="wrapper">
    
    <div class="floating_div">
        <h2>“Before software can be reusable it first has to be usable.” - Ralph Johnson</h2>
        <p>
            This is a server made by programmers for programmers. Anyone that has logged in can access and 
            modify this server. If you have a new feature you want to implement contact us and start coding your way on the 
            {{title}} server.
        </p>
        <p>
            Learn about what drives this server on our Discord Server. Feel free to send feedback through there as well.
        </p>
    </div>

    <div class="floating_div">
        <h2>“Experience is the name everyone gives to their mistakes.” - Oscar Wilde</h2>
        <p>
           This server is also a place where you can publish articles about investigations you have made and would like for someone
           else to see. You can publish articles about any topic, as long as it has something to do with engineering.
        </p>
        <p>
            <b>Click here</b> to access the articles session!
        </p>
    </div>

    <div class="floating_div" routerLink="/games">
        <h2>“The right man in the wrong place can make all the difference in the world.” - G. Man</h2>
        <p>
            Of course we would have a gaming section. What kind of website would this be without a gaming section!
            We currently host a Minecraft server 
        </p>
        <p>
            Explore our Minecraft world and mine away into the night! We have a good community that will help you
            with anything you need.
        </p>
        <p>
            <b>Click here</b> to explore our most recent constructions!
        </p>
    </div>
</div>