<div class="wrapper">

    <div id="intro-text">
        <h1 id="headline">Publish about your <span class="typed"></span></h1>
    </div>

    <div class="grid-container">
        <div class="grid-element">
            <div class="photo-above">
                <img class="section-photo " src="../../../assets/icons/Articles.png">
            </div>
            <div class="content-below">
                <div class="site-options">Write new Articles</div>
            </div>
        </div>

        <div class="grid-element">
            <div class="photo-above">
                <img class="section-photo " src="../../../assets/icons/Projects.png">
            </div>
            <div class="content-below">
                <div class="site-options">Share your Projects</div>
            </div>
        </div>

        <div class="grid-element">
            <div class="photo-above">
                <img class="section-photo " src="../../../assets/icons/Gaming.png">
            </div>
            <div class="content-below">
                <div class="site-options">Show your Achievements</div>
            </div>
        </div>

        <div class="grid-element">
            <div class="photo-above">
                <img class="section-photo " src="../../../assets/icons/Community.png">
            </div>
            <div class="content-below">
                <div class="site-options">Build the Community</div>
            </div>
        </div>
    </div>


    <div id="about-section">
        <div class="about-content">
            <h2>Why {{title}}?</h2>
            <p>
                The name <i>{{title}}</i> in the roman mythology is the personification 
                of <i>sleep</i>.  This name was chosen because sometimes, to achieve 
                something great, a developer has to give up his sleep and code through 
                the night to get the job done. This name is a tribute to all those developers 
                that give up their sleep to achieve a better quality product.
            </p>
         </div>
         
         <div class="about-content">
             <h2>How about the state of {{title}}?</h2>
             <p> The {{title}} is all about offering services to a small community of programmers 
                 and at the same time provide them with a platform where they can test new Software 
                 and publish their findings in the form of articles.
             </p>
             <p>
                 This server is currently in beta, so please be patient if you find bugs and feel 
                 free to report them through our contacts section.
             </p>
             <p>
                 You can also report any problems you might be having related to the {{title}} 
                 website. So let us know if there is anything we can do to improve on
                 our website.
             </p>
             <p>
                 If you want to learn more about our team feel free to head over to the 
                 <a routerLink="/team">Team</a> page or check out some of our publications
                 in our Articles Section.
             </p>
         </div>
    </div>
    
    <!-- <div class="floating_div">
        <h2>“Before software can be reusable it first has to be usable.” - Ralph Johnson</h2>
        <p>
            This is a server made by programmers for programmers. Anyone that has logged in can access and 
            modify this server. If you have a new feature you want to implement contact us and start coding your way on the 
            {{title}} server.
        </p>
        <p>
            Learn about what drives this server on our Discord Server. Feel free to send feedback through there as well.
        </p>
    </div>

    <div class="floating_div">
        <h2>“Experience is the name everyone gives to their mistakes.” - Oscar Wilde</h2>
        <p>
           This server is also a place where you can publish articles about investigations you have made and would like for someone
           else to see. You can publish articles about any topic, as long as it has something to do with engineering.
        </p>
        <p>
            <b>Click here</b> to access the articles session!
        </p>
    </div>

    <div class="floating_div" routerLink="/games">
        <h2>“The right man in the wrong place can make all the difference in the world.” - G. Man</h2>
        <p>
            Of course we would have a gaming section. What kind of website would this be without a gaming section!
            We currently host a Minecraft server 
        </p>
        <p>
            Explore our Minecraft world and mine away into the night! We have a good community that will help you
            with anything you need.
        </p>
        <p>
            <b>Click here</b> to explore our most recent constructions!
        </p>
    </div> -->
</div>