h2 {
  color: white;
  font-size: 20pt;
}

p {
  color: white;
  font-size: 16pt;
  /* padding: 2pt; */
  line-height: 25pt;
}

h1 {
  color: #ffffff; 
  font-family: 'Raleway',sans-serif;
  font-weight: 800; 
  line-height: 72px;
  font-size: 25pt;
}

#intro-text {
  margin-top: 30pt;
  margin-bottom: 100pt;
  max-height: 40pt;
}

.grid-container {
  width: 100%;
  margin-bottom: 200pt;
  margin: 0 auto;
}

.grid-element {
  float: left;
  /* float: inline-start;  */ /*Not supported on Chrome*/
  text-align: center;
  width: 20%;
  height: 250pt;
  margin: 0% 2.5% auto;
  border-radius: 4pt;
  transition: 0.5s ease;
}

.grid-element:hover {
  transform: scale(1.02,1.02);
}

.photo-above {
  max-width: 150pt;
  max-height: 150pt;
  margin: 0 auto;
}

.content-below {
  margin-top: 20pt;
}

.section-photo {
  max-height: 11vw;
  max-width: 11vw;
  /* object-fit: scale-down; */
  filter: invert(1);
}

#about-section {
  margin-top: 100pt;
  padding-top: 200pt;
  padding-bottom: 200pt;
}

.about-content {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 40pt;
  text-align: justify;
}

/* Typewriter animation */

.typed{
  display: inline;
}

.typed-cursor{
  opacity: 0;
  display: none;
}

@media only screen and (max-width: 1500px) {

  .section-photo {
    max-height: 15vw;
    max-width: 15vw;
  }
}

@media only screen and (max-width: 1000px) {
  .grid-element {
    width: 50%;
    margin: 0% 0% auto;
  }

  .section-photo {
    max-height: 20vw;
    max-width: 20vw;
  }
}