
<div class="page-style" *ngIf="isLoaded">
    <div class="row-fluid contact-form">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmitRegister()" method="post">
            <mat-form-field appearance="fill">
                <mat-label>First Name</mat-label>
                <input type="text" matInput formControlName="first_name" placeholder="Bob">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Last Name</mat-label>
                <input type="text" matInput formControlName="last_name" placeholder="Schmidt">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Email</mat-label>
                <input type="email" matInput formControlName="email" placeholder="bob@gmail.com">
            </mat-form-field>
    
            <mat-form-field appearance="fill">
                <mat-label>Password</mat-label>
                <input type="password" matInput formControlName="password" placeholder="***********">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Confirm Password</mat-label>
                <input type="password" matInput formControlName="confirm_password" placeholder="***********">
            </mat-form-field>
    
            <div class="form-group">
                <!-- Submit Button -->
                <button type="submit" class="btn btn-primary">Register</button>
            </div>
        </form>
    </div>

    <div class="login-component-access">
        <p id="register-text">If you have already created an account yet, head over to the <a routerLink="/login">Login</a> page</p>
    </div>
</div>