<<<<<<< Updated upstream:SomnusFrontEnd/src/app/components/articles-section/articles-section.component.scss

h3{
    text-align: left;
=======
.grid-container {
    margin-top: 20pt;
>>>>>>> Stashed changes:SomnusFrontEnd/src/app/components/post/post-section.component.scss
}

.content{
    width: 100%;
    color: white;
}

<<<<<<< Updated upstream:SomnusFrontEnd/src/app/components/articles-section/articles-section.component.scss
.article-container {
    transition: 0.5s ease;
    border-radius: 4pt;
    margin-top: 20pt;
    height: 200pt;
    overflow: hidden;
    background-color: rgb(71, 71, 71);
}

.article-container:hover {
    cursor: pointer;
}

.article-img {
    filter: invert(1);
    margin: 0 auto;
    max-width: 200%;
    height: 200pt;
}

.left-article-img{
    overflow: hidden;
    float: left;
    width: 20%;
}

.right-article-data {
    float: right;
    width: 80%;
    overflow: hidden;
    padding-left: 20pt;
}

.article-info{
    padding-top: 10pt;
}

.author-name {
    color: rgb(87, 140, 255);
}

.description{
    font-size: 14pt;
    padding-top: 10pt;
    text-align: justify;
    max-height: inherit;
}

.article-author{
    font-size: 15pt;
    text-align: justify;
}

mat-progress-spinner{
=======
mat-progress-spinner {
>>>>>>> Stashed changes:SomnusFrontEnd/src/app/components/post/post-section.component.scss
    padding-top: 100pt;
    margin: 0 auto;
}
