<h2> System Specifications</h2>
<div id="server-specs">
    <div class="left">
        <table class="spec_table">
            <tr>
                <th><img class="img-style" src="../../../assets/icons/CPU.png"></th>
                <th>FX8300 @ 2.8GHz</th>
            </tr>
            <tr>
                <th><img class="img-style" src="../../../assets/icons/ram.png"></th>
                <th>6GB DDR3 1333MHz</th>
            </tr>
        </table>
    </div>
    <div class="right">
        <table class="spec_table">
            <tr>
                <th><img class="img-style" src="../../../assets/icons/power.png"></th>
                <th>375W</th>
            </tr>
            <tr>
                <th><img class="img-style" src="../../../assets/icons/hdd.png"></th>
                <th>1x 80GB 7200RPM + 1x 500GB WD 5400RPM</th>
            </tr>
        </table>
    </div>
</div>

<br>
<h2>System Usage</h2>
<p><b>Coming soon!</b></p>