h2 {
    color: white;
    font-size: 20pt;
}

p {
    color: white;
}

#server-specs {
    color: white;
    font-size: 15pt;
    margin-bottom: 100pt;
}

.spec_table {
    color: white;
    width: 100%;
    table-layout: auto;
}

.spec_table th,
tr {
    padding: 10pt 10pt 10pt 0pt;
    height: 70pt;
    text-align: left;
}

.th-img {
    width: 30%;
}

.th-content {
    width: 70%;
}

.img-style {
    max-width: 100%;
    max-height: 100%;
    filter: invert(1);
}

.left {
    width: 50%;
    float: left;
}

.right {
    width: 50%;
    float: right;
}

#system-usage-container {
    padding-top: 80pt;
}


/* #spec_table tr:nth-child(even) {
    background-color: #535353;
} */