
.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
}

.hljs-built_in,
.hljs-selector-tag,
.hljs-section,
.hljs-link {
  color: #bdf3ff;
}

.hljs-keyword {
  color: #ff79c6;
}

.hljs,
.hljs-subst {
  color: #f8f8f2;
}

.hljs-title {
  color: #50fa7b;
}

.hljs-meta,
.hljs-name,
.hljs-type,
.hljs-attr,
.hljs-symbol,
.hljs-bullet,
.hljs-addition,
.hljs-variable,
.hljs-template-tag,
.hljs-template-variable {
  color: #f1fa8c;
}

.hljs-attribute {
  color: white;
}

.hljs-string {
  color: #c7e9ff;
}

.hljs-class {
  .hljs-title {
    color: #50fa7b;
  }
  color: #79c9ff;
}

.hljs-comment,
.hljs-quote,
.hljs-deletion {
  color: #bccdff;
}

.hljs-tag {
  color: #8be9fd;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-section,
.hljs-doctag,
.hljs-type,
.hljs-name,
.hljs-strong {
  font-weight: bold;
  color: #8be9fd;
}

.hljs-literal,
.hljs-number {
  color: #bd93f9;
}

.hljs-emphasis {
  font-style: italic;
}

// For Quill
:host ::ng-deep {
  .hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
  }
  
  .hljs-built_in,
  .hljs-selector-tag,
  .hljs-section,
  .hljs-link {
    color: #bdf3ff;
  }
  
  .hljs-keyword {
    color: #ff79c6;
  }
  
  .hljs,
  .hljs-subst {
    color: #f8f8f2;
  }
  
  .hljs-title {
    color: #50fa7b;
  }
  
  .hljs-meta,
  .hljs-name,
  .hljs-type,
  .hljs-attr,
  .hljs-symbol,
  .hljs-bullet,
  .hljs-addition,
  .hljs-variable,
  .hljs-template-tag,
  .hljs-template-variable {
    color: #f1fa8c;
  }

  .hljs-attribute {
    color: white;
  }
  
  .hljs-string {
    color: #c7e9ff;
  }
  
  .hljs-class {
    .hljs-title {
      color: #50fa7b;
    }
    color: #79c9ff;
  }
  
  .hljs-comment,
  .hljs-quote,
  .hljs-deletion {
    color: #bccdff;
  }
  
  .hljs-tag {
    color: #8be9fd;
  }
  
  .hljs-keyword,
  .hljs-selector-tag,
  .hljs-literal,
  .hljs-section,
  .hljs-doctag,
  .hljs-type,
  .hljs-name,
  .hljs-strong {
    font-weight: bold;
    color: #8be9fd;
  }
  
  .hljs-literal,
  .hljs-number {
    color: #bd93f9;
  }
  
  .hljs-emphasis {
    font-style: italic;
  }
}
