
mat-form-field.mat-form-field {
    width: 100%;
    font-size: 14pt;
    color: white;
}

.row-fluid {
    text-align: justify;
    margin: 30pt auto;
    width: 80%;
}

.contact-form {
    margin: 0 auto;
    width: 70%;
    margin-bottom: 30pt;
}

#feedback {
    height: 200pt;
}

.img-left{
    float: left;
    width: 20%;
}

.description-right {
    float: right;
    width: 80%;
}

.not-logged-in-message {
    margin-bottom: 40pt;
    text-align: center;
}

.centered-text{
    text-align: center;
}

@media only screen and (max-width:800px) {
    .img-left{
        margin: 0 auto;
        width: 100%;
    }

    
    .description-right {
        margin: 0 auto;
        width: 100%;
    }
    
    .contact-form {
        width: 100%;
    }
}