<div class="about">

    <h1 id="about_page_title">About the Uberpower Server</h1>

    <div id="about_text">
        <p>
            If you are new to the Uberpower Server, then Welcome!
        </p>
        <p> What is the Uberpower Server? I'm glad you asked!
            The Uberpower server is all about offering services to 
            a small community of programmers (if you can call us that)
            and at the same time provide them with a platform where they 
            can test out software, learn more about the Linux operating
            system, test out learned concepts in real life etc. Basically 
            you decide what to do and when to do it.
        </p>
        <p>
            This server is currently in its beta form (in other words:
            it is being developed!), so please be pacient if you find
            bugs or other inconveniences. 
        </p>
        <p>
            If you want to report something you can head over to the 
            "contact" section of the website and report bugs, problems
            and everything you can think of. You can also give us feedback, 
            so that we know on what to improve and where to focus on.
            Thank you very much for all your pacience. We hope you enjoy
            your time here.
        </p>
    </div>


    <h1 id="about_page_title">Server specs</h1>

    <div id="about_text">
        <table id="spec_table">
            <tr>
                <th>Product Name</th>
                <th>Lenovo ThinkCentre M57</th>
            </tr>
            <tr>
                <th>CPU</th>
                <th>Core 2 Duo Q8200S</th>      
            </tr>
            <tr>
                <th>Socket</th>
                <th>Socket LGA 775</th>
            </tr>
            <tr>
                <th>Memory</th>
                <th>4GB DDR2 800MHz</th>
            </tr>
            <tr>
                <th>Networking</th>
                <th>Gigabit Intel 82567LM (WOL support)</th>
            </tr>
            <tr>
                <th>Power Supply</th>
                <th>280W 80+</th>
            </tr>
            <tr>
                <th>Hard Drives</th>
                <th>1x 80GB 7200RPM + 1x 500GB WD 5400RPM</th>
            </tr>
        </table>
    </div>
    
</div>