
.about {
    color: white;
}

#about_page_title {
  margin: 20pt; 
}

#about_text {
  width: 80%;
  margin: 20pt;
}

#spec_table {
  color: white;
  width: 50%;
}

#spec_table th, td {
  padding: 10pt 10pt 10pt 0pt;
  text-align: left;
}

#spec_table tr:nth-child(even) {
  background-color: #535353;
}


@media screen and (max-width: 500pt) {
  #about_page_title {
    margin: 30pt 0pt 10pt 0pt; 
    text-align: center;
  }
  
  #about_text {
    width: 90%;
    margin: 5%;
  }

  #spec_table {
    width: 90%;
    margin: 5%;
  }
}