
.main {
  color: white;
}

.home_text_style {
  position: absolute;
  padding-top: 30pt;
  width: 60%;
}

.center_text {
  text-align: center;
}

#home_title_text {
  font-size: 20px;
  width: 60%;
}

#textwrapper {
  padding-top: 20pt;
  padding-bottom: 20pt;
}

.services {
  width: 100%;
}

.left{
  width: 15%;
  height: 120pt;
  float: left;
  display: grid;
}

.left:hover {
  background-color: rgb(73, 73, 73);
}

.availability {
  width: 15%;
  height: 120pt;
  float: left;
  display: grid;
}

.description {
  width: 70%;
  height: 120pt;
  float: right;
}


.link {
  color:white;
}


/******************************************************************/


@media screen and (max-width: 500pt) {

  #textwrapper {
    text-align: center;
    padding-bottom: 0pt;
  }

  #home_title_text {
    width: 100%;
    padding: 0pt;
    text-align: center;
  }

  .left {
    width: 50%;
    height: 100pt;
    padding-top: 20pt;
  }

  .availability {
    width: 50%;
    height: 100pt;
    padding-top: 20pt;
  }

  .description {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .home_text_style {
    text-align: center;
    padding-top: 0pt;
    width: 90%;
  }



}

/******************************************************************/
.img {
    border-radius: 20%;
    padding: 3pt;
    width: 50pt;
    height: 50pt;
    display: block;
    margin: 0 auto;
}