<div class="main">
    <div id="textwrapper">
        <a id="home_title_text">Current services offered by the server:</a>
    </div>

    <div class="services">
        <a class="link" href="https://drive.google.com/drive/folders/1WuWF3C_rPUar39s3lmVEfEKsMrYSZvwE?usp=sharing">
            <div class="left" onclick="">
                <img class="img" src="assets/imgs/Drive.png">
                <p class="center_text">Archive</p>
            </div>
        </a>
        <div class="availability">
            <img class="img" id="drive_img" src="assets/imgs/loading.png">
            <p class="center_text" id="drive_text">Waiting</p>
        </div>
        <div class="description">
            <a class="home_text_style">Here is al of our current material for our course.
                It has every file we have stored throughout the years. Feel free to add more content and
                build upon what we have created so far
            </a>
        </div>
    </div>

    <div class="services">
        <a class="link" href="">  <!-- Para acabar -->
            <div class="left">
                <img class="img" src="assets/imgs/Vectra.png">
                <p class="center_text">Trips & Fotos</p>
            </div>
        </a>
        <div class="availability">
            <img class="img" id="trip_img" src="assets/imgs/loading.png">
            <p class="center_text" id="trip_text">Waiting</p>
        </div>
        <div class="description">
            <a class="home_text_style">Here is a link for you to view our trip fotos. Enjoy the moments we wish we could
                have when we are studying for exams or worrying about the overwhelming amount of work we have
                throughout the year. Despair is life!
            </a>
        </div>

    </div>

    <div class="services">
        <a class="link">
            <div class="left">
                <img class="img" src="assets/imgs/minecraftlogo.png">
                <p class="center_text">Minecraft</p>
            </div>
        </a>
        <div class="availability">
            <img class="img" id="minecraft_img" src="assets/imgs/loading.png">
            <p class="center_text" id="minecraft_text">Waiting</p>
        </div>
        <div class="description">
            <a class="home_text_style">Minecraft is well known to everyone in this community.
                In our server you can create your own army of PeePeePooPoo's,
                make giant meatballs and find your own Sven, all in the confort
                of your own home. So join the minecraft server now! To the ranch!
            </a>
        </div>

    </div>
    
</div>