
h3{
    text-align: left;
}

.content{
    width: 100%;
    color: white;
}

.img-style {
    /* margin: 0 auto; */
    height: 150pt;
    margin-top: 40pt;
}

.player-container  {
    width: 100%;
    margin: 0 auto;
}

.player-element {
    width: 25%;
    height: 30pt;
}

.small-minecraft-img{
    width: 20pt;
    height: 20pt;
}

.img-left {
    float: left;
    margin-right: 20pt;
}

.player-name {
    float: left;
    text-align: center;
    /* margin: 0% 0.5% auto; */
}

.container {
    width: 100%;
    margin: 0 auto;
    margin-top: 20pt;
}

.left-img{
    overflow: hidden;
    float: left;
    width: 20%;
}

.right-data {
    float: right;
    width: 80%;
    overflow: hidden;
    padding-left: 20pt;
}

.info{
    padding-top: 10pt;
}

mat-expansion-panel{
    width: 100%;
    margin: 0 auto;
    padding: 0%;
}

mat-progress-spinner{
    padding-top: 100pt;
    margin: 0 auto;
}

@media only screen and (max-width: 1200px) {
    .img-style {
        height: 100pt;
        margin-top: 40pt;
    }
    
    p{
        font-size: 10pt;
        line-height: 20pt;
    }

    .player-element {
        width: 50%;
    }
}

@media only screen and (max-width: 800px) {
    .img-style {
        height: 0pt;
    }

    .left-img{
        width: 0%;
    }

    .right-data {
        width: 100%;
        padding-left: 0pt;
    }

    .player-element {
        width: 100%;
    }
}