
h2{
    color: white;
    font-size: 20pt;
}

p {
    color: white;
    font-size: 16pt;
    line-height: 30pt;
    text-align: justify;
}

label {
    color: white;
}

.row-fluid {
    text-align: justify;
    margin: 30pt auto;
    width: 80%;
}

.contact {
    margin: 10pt;
}

#feedback {
    height: 200pt;
}

.img-inverted {
    filter: invert(1);
}

.img-left{
    float: left;
    width: 20%;
}

.description-right {
    float: right;
    width: 80%;
}