
<h2>Feel Free to contact us!</h2>
<div class="row-fluid contact-form">
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" method="post">
        <div class="form-group">
            <!-- First Name -->
            <label for="first_name" class="control-label">First Name</label>
            <input type="text" class="form-control" id="first_name" formControlName="first_name" placeholder="Bob">
        </div>

        <div class="form-group">
            <!-- Email: -->
            <label for="email" class="control-label">Email:</label>
            <input type="email" class="form-control" id="email" formControlName="email" placeholder="bob@gmail.com">
        </div>

        <div class="form-group">
            <!-- Feedback -->
            <label for="feedback" class="control-label">Feedback</label>
            <input class="form-control" id="feedback" formControlName="feedback" placeholder="Leave some Feedback here!">
        </div>

        <div class="form-group">
            <!-- Register Button -->
            <button type="submit" class="btn btn-primary">Send Feedback</button>
        </div>
    </form>
</div>

<div class="row-fluid">
    <h2>Join our platforms</h2>
    <div class="img-left">
        <a class="link" href="https://discord.gg/J2UMjK">
            <img class="img-inverted" src="../../../assets/icons/discord.png"> 
        </a>
    </div>
    <div class="description-right">
        <p>
            Feel free to join our discord channel. There you can see what services are available and also
            receive notifications when updates to the website are made. You can become part of a very small community
            of programmers and also share your knowledge with them.
        </p>
    </div>
</div>
