h2 {
    font-size: 20pt;
    color: white;
}

h3 {
    font-size: 15pt;
    color: white;
}

p {
    font-size: 12pt;
    color: white;
}

hr {
    height: 5pt;
    border: 10pt solid white;
}

.page-style {
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

.photo-above {
    overflow: hidden;
    width: auto;
}

.grid-container {
    width: 100%;
}

.grid-element {
    float: inline-start;
    text-align: center;
    width: 25%;
    height: 300pt;
    margin: auto;
    padding: 10pt;
}

.team-member-photo {
    max-height: 10vw;
    max-width: 10vw;
    object-fit: cover;
}

.info-div {
    width: 100%;
    float: inline-end;
    margin-bottom: 30pt;
    margin-top: 30pt;
}

.feedback-text {
    margin: 0 auto;
    font-size: 16pt;
    max-width: 1000pt;
    line-height: 30pt;
}

@media only screen and (max-width: 1400px) {
    .team-member-photo {
        max-height: 15vw;
        max-width: 15vw;
    }

    .grid-element {
        width: 33%;
    }
}

@media only screen and (max-width: 1000px) {
    .team-member-photo {
        max-height: 18vw;
        max-width: 18vw;
    }

    .grid-element {
        width: 50%;
    }
}

@media only screen and (max-width: 600px) {
    .team-member-photo {
        max-height: 25vw;
        max-width: 25vw;
    }

}