.login-button {
    background-color: rgba(0, 132, 255, 0.952);
    color: white;
    margin-right: 10pt;
    padding: 1pt;
}

.login-component {
    margin-left: 10pt;
}

.user-avatar {
    background-size: cover;
}

.custom-search {
    max-width: 100%;
}

@media only screen and (max-width: 600px) {
    .login-component {
        float: right;
    }
}