<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" routerLink="/homePage">
        <img src="../../../assets/icons/Somnus.png" class="somnus-img">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item" [ngClass]="{'active': isActive('/homePage')}">
                <a class="nav-link" routerLink="/">Home</a>
            </li>
            <li class="nav-item" [ngClass]="{'active': isActive('/articles')}">
                <a class="nav-link" routerLink="articles">Articles</a>
            </li>
            <li class="nav-item" [ngClass]="{'active': isActive('/server_stats')}">
                <a class="nav-link" routerLink="server_stats">Server Stats</a>
            </li>
            <li class="nav-item" [ngClass]="{'active': isActive('/team')}">
                <a class="nav-link" routerLink="team">Team</a>
            </li>
            <li *ngIf="user" class="nav-item" [ngClass]="{'active': isActive('/games')}">
                <a class="nav-link" routerLink="/games">Games</a>
            </li>
            <li class="nav-item" [ngClass]="{'active': isActive('/contacts')}">
                <a class="nav-link" routerLink="contacts">Contacts</a>
            </li>
        </ul>

        <form class="my-2 my-lg-0 search">
            <!-- Search -->
            <div class="md-form my-0">
                <input (keyup.enter)="onEnter(inputValue.value)" #inputValue class="form-control" type="text" placeholder="Search for articles" aria-label="Search">
            </div>
        </form>

        <!-- Login Button -->
        <button *ngIf="!user" mat-button class="login-button" routerLink="/login">
            Login
        </button>
    
        <!-- Avatar Button -->
        <button 
            *ngIf="user" 
            [matMenuTriggerFor]="avatarMenuDropDown"
            mat-mini-fab class="user-avatar" 
            [ngStyle]="{ 'background-image': 'url(' + user?.photoURL +')' }"
            class="user-button">
        </button>
        <!-- Avatar Menu -->
        <mat-menu #avatarMenuDropDown="matMenu">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>{{user?.displayName}}</mat-card-title>
                    <mat-card-subtitle>{{user?.email}}</mat-card-subtitle>
                </mat-card-header>
            </mat-card>
            <button mat-menu-item (click)="logout()">
                <mat-icon>exit_to_app</mat-icon>
                <span>Sign out</span>
            </button>
        </mat-menu>
    </div>

</nav>