.login-button {
    background-color: rgba(0, 132, 255, 0.952);
    color: white;
    margin-right: 10pt;
    margin-left: 10pt;
    padding: 1pt;
}

.user-button {
    margin-right: 10pt;
    margin-left: 10pt;
}

.user-avatar {
    background-size: cover;
}

.navbar-toggler{
    float: right;
}

.somnus-img {
    max-height: 30pt;
    max-width: 30pt;
}


@media only screen and (max-width: 575px) {
    .login-button {
        margin-left: 0pt;
        margin-right: 0pt;
        width: 100%;
    }

    .user-button {
        margin-left: 0pt;
        margin-right: 0pt;
    }

}