<div>
    <section class="view bg">
        <div class="container flex-center">
            <div id="intro-text">
                <h1 id="headline">Write about your <span class="typed"></span></h1>
            </div>

            <div class="grid-array">
                <div class="grid-element">
                    <div class="photo-above">
                        <img class="section-photo" src="../../../assets/icons/code.gif" id="code">
                    </div>

                    <div class="content-below">
                        <div class="site-options">Code</div>
                    </div>
                </div>

                <div class="grid-element">
                    <div class="photo-above">
                        <img class="color-inverted-img section-photo" src="../../../assets/icons/rocket.gif" id="rocket">
                    </div>
                    <div class="content-below">
                        <div class="site-options">Deploy</div>
                    </div>
                </div>

                <div class="grid-element">
                    <div class="photo-above">
                        <img class="color-inverted-img section-photo" src="../../../assets/icons/share.png" id="airplane">
                    </div>
                    <div class="content-below">
                        <div class="site-options">Share</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <button id="arrow-right" mat-fab color="transparent"> -->
        <mat-icon id="arrow-right">chevron_right</mat-icon>
        <!-- </button> -->
        <!-- <button id="arrow-left" mat-fab color="transparent"> -->
        <mat-icon id="arrow-left">chevron_left</mat-icon>
        <!-- </button> -->
    </section>

    <div id="about-section">
        <div class="about-content">
            <h2>Why {{title}}?</h2>
            <p>
                The name <i>{{title}}</i> in the roman mythology is the personification of <i>sleep</i>. This name was chosen because sometimes, to achieve something great, a developer has to give up his sleep and code through the night to get the job
                done. This name is a tribute to all those developers that give up their sleep to achieve a better quality product.
            </p>
        </div>
        <hr>

        <div class="about-content">
            <h2>Services offered by {{title}}</h2>
            <p> The {{title}} is all about offering services to a small community of programmers and at the same time provide them with a platform where they can test new Software and publish their findings in the form of articles. But besided that, we also
                offer other kinds of services to our community.
            </p>
            <div class="offered-services">
                <div class="img-left">
                    <img class="color-inverted-img img-service" src="../../../assets/icons/moodle.png">
                </div>
                <div class="description-right">
                    <p>
                        We host a moodle website where we post all kinds of contents. The main purpose is to provide a platform where each person can publish various types of courses so that others can take those courses.
                    </p>
                </div>
            </div>
            <br>
            <div class="offered-services">
                <div class="img-left">
                    <img class="color-inverted-img img-service" src="../../../assets/icons/nextcloud.png">
                </div>
                <div class="description-right">
                    <p>
                        We currently host a Nextcloud service for our users. This allows our users to save files at any time. Managers get premium access with unlimited storage.
                    </p>
                </div>
            </div>
        </div>
        <hr>

        <div class="about-content">
            <h2>Questions & +Info</h2>
            <p>
                Any problems you are having related to the {{title}} website, please report them over on the contacts page.
            </p>
            <p>
                If you want to learn more about our team feel free to head over to the
                <a routerLink="/team">Team</a> page or check out some of our publications in our Articles Section.
            </p>
        </div>
    </div>


    <!-- <div class="floating_div">
        <h2>“Before software can be reusable it first has to be usable.” - Ralph Johnson</h2>
        <p>
            This is a server made by programmers for programmers. Anyone that has logged in can access and 
            modify this server. If you have a new feature you want to implement contact us and start coding your way on the 
            {{title}} server.
        </p>
        <p>
            Learn about what drives this server on our Discord Server. Feel free to send feedback through there as well.
        </p>
    </div>

    <div class="floating_div">
        <h2>“Experience is the name everyone gives to their mistakes.” - Oscar Wilde</h2>
        <p>
           This server is also a place where you can publish articles about investigations you have made and would like for someone
           else to see. You can publish articles about any topic, as long as it has something to do with engineering.
        </p>
        <p>
            <b>Click here</b> to access the articles session!
        </p>
    </div>

    <div class="floating_div" routerLink="/games">
        <h2>“The right man in the wrong place can make all the difference in the world.” - G. Man</h2>
        <p>
            Of course we would have a gaming section. What kind of website would this be without a gaming section!
            We currently host a Minecraft server 
        </p>
        <p>
            Explore our Minecraft world and mine away into the night! We have a good community that will help you
            with anything you need.
        </p>
        <p>
            <b>Click here</b> to explore our most recent constructions!
        </p>
    </div>
    </div>
    </p>
    </div> -->

</div>