<div class="add-game-card">
    <h2>Add new Game Event</h2>
    <form [formGroup]="addGameForm" (ngSubmit)="onSubmit()" method="post">
        <!-- Add "addGameForm" to ts file -->
        <div class="form-group">
            <!-- Title -->
            <label for="title" class="control-label">Title</label>
            <input type="text" class="form-control" id="title" formControlName="title"
                placeholder="Minecraft Mining Craze">
        </div>

        <div class="form-group">
            <!-- Feedback -->
            <label for="description" class="control-label">Description</label>
            <input class="form-control" id="description" formControlName="description"
                placeholder="It was a rainy day in Minecraft...">
        </div>

        <!-- insert an image. How? -->
        <div class="form-group">
            <!-- Image: -->
            <label for="image" class="control-label">Image:</label>
            <input type="file" class="form-control" id="image" formControlName="image" alt="Submit image">
        </div>

        <div class="form-group">
            <!-- Add Event Button -->
            <button type="submit" class="btn btn-primary">Add Game Event</button>
        </div>
    </form>
</div>