p {
    color: white;
    font-size: 15pt;
}

label {
    color: white;
    float: left;
}

.page-style {
    margin: 20pt auto;
    vertical-align: middle;
    width: 40%;
}

.first-name-input{
    width: 50%;
    float: left;
    padding-right: 5pt;
}

.last-name-input {
    width: 50%;
    float: right;
    padding-left: 5pt;
}

.login-component-access {
    padding-top: 30pt;
}