
<div class="page-style">
    
    <div class="about-content">
        <h2>Why {{title}}?</h2>
       <p>
           The name <i>{{title}}</i> in the roman mythology is the personification 
           of <i>sleep</i>.  This name was chosen because sometimes, to achieve 
           something great, a developer has to give up his sleep and code through 
           the night to get the job done. This name is a tribute to all those developers 
           that give up their sleep to achieve a better quality product.
       </p>
    </div>
    <div class="about-content">
        <h2>How about the state of {{title}}?</h2>
        <p> The {{title}} is all about offering services to a small community of programmers 
            and at the same time provide them with a platform where they can test new Software 
            and publish their findings in the form of articles.
        </p>
        <p>
            This server is currently in beta, so please be patient if you find bugs and feel 
            free to report them through our contacts section.
        </p>
        <p>
            You can also report any problems you might be having related to the {{title}} 
            website. So let us know if there is anything we can do to improve on
            our website.
        </p>
        <p>
            If you want to learn more about our team feel free to head over to the 
            <a routerLink="/team">Team</a> page or check out some of our publications
            in our Articles Section.
        </p>
    </div>

    <div class="about-content">
        <h2>Our Milestones</h2>
        <div class="milestone-wrapper" *ngFor="let milestone of milestones">
            <!-- <div class="progress-line">
                <div class="rounded-dot"></div>
                <div class="line"></div>
            </div> -->
            <div class="year-left">
                <p>{{milestone.year}}</p>
            </div>
            <div class="info-right">
                <p>{{milestone.title}}</p>
                <p>{{milestone.description}}</p>
            </div>
        </div>

        
    </div>
</div>
