
p {
    text-align: center;
}

hr {
    height: 5pt;
    border: 10pt solid white;
}

.page-style {
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

.photo-above {
    overflow: hidden;
    height: 150pt;
    margin: 0 auto;
}

.content-below {
    height: 150pt;
}

.team-member-photo{
    height: 100pt;
    width: 100pt;
}

.grid-container {
    width: 100% !important;
    margin: 0 auto;
}

.grid-element {
    float: left;
    text-align: center;
    width: 20%;
    height: 300pt;
    margin: 0% 2.5% auto;
}

.info-div {
    width: 100%;
    /* float: inline-end; */
    margin-bottom: 30pt;
    margin-top: 30pt;
}

.feedback-text {
    margin: 0 auto;
    font-size: 16pt;
}

mat-progress-spinner{
    padding-top: 100pt;
    margin: 0 auto;
}

@media only screen and (max-width: 1600px) {
    .team-member-photo {
        max-height: 15vw;
        max-width: 15vw;
    }
}

@media only screen and (max-width: 1400px) {
    .team-member-photo {
        max-height: 15vw;
        max-width: 15vw;
    }
}

@media only screen and (max-width: 1000px) {
    .team-member-photo {
        max-height: 18vw;
        max-width: 18vw;
    }

    .grid-element {
        width: 50%;
        margin: 0%;
    }
}

@media only screen and (max-width: 600px) {
    /* .team-member-photo {
        max-height: 25vw;
        max-width: 25vw;
    } */

    .info-div {
        margin-top: 5pt;
    }

}