
p {
    text-align: center;
}

hr {
    height: 5pt;
    border: 10pt solid white;
}

.page-style {
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

.photo-above {
    overflow: hidden;
    height: 150pt;
    padding-top: 10pt;
    margin: 0 auto;
}

.content-below {
    height: 150pt;
}

.team-member-photo{
    height: 100pt;
    width: 100pt;
}

.grid-container {
    width: 100%;
    height: max-content;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.grid-element {
    float: left;
    height: fit-content;
    text-align: center;
    border-radius: 10pt;
    transition: 0.5s ease;
}

.grid-element:hover {
    background-color: rgb(63, 63, 63);
    cursor: pointer;
}

.info-div {
    width: 100%;
    height: auto;
    /* float: inline-end; */
    margin-bottom: 30pt;
    margin-top: 30pt;
}

.feedback-text {
    margin: 0 auto;
    font-size: 16pt;
}

mat-progress-spinner{
    padding-top: 100pt;
    margin: 0 auto;
}

@media only screen and (max-width: 1600px) {
    .team-member-photo {
        max-height: 15vw;
        max-width: 15vw;
    }
}

@media only screen and (max-width: 1400px) {
    .team-member-photo {
        max-height: 15vw;
        max-width: 15vw;
    }
}

@media only screen and (max-width: 1000px) {
    .team-member-photo {
        max-height: 18vw;
        max-width: 18vw;
    }

    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 600px) {

    .grid-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .team-member-photo {
        max-height: 70pt;
        max-width: 70pt;
    }

    .info-div {
        margin-top: 5pt;
    }

}