<div class="page-style">
    <h2>Our Team of Developers</h2>

    <mat-progress-spinner *ngIf="loading" mode="indeterminate"></mat-progress-spinner>

    <div class="grid-container" *ngIf="teamMembers">
        <div class="grid-element" *ngFor="let teamMember of teamMembers">
            <div class="photo-above">
                <img class="team-member-photo color-inverted-img" src="../../../assets/icons/git-img.png">
            </div>
            <div class="content-below">
                <h3><b>{{teamMember.githubUsername}}</b></h3>
                <p>{{teamMember.numContributions}} contributions</p>
                <p>First contribution on {{teamMember.dateJoined | date:'mediumDate'}}</p>
            </div>
        </div>
    </div>

    <div class="grid-container" *ngIf="!teamMembers && !loading">
        <h3>Currently there are no team members</h3>
    </div>

    <div class="info-div">
        <h2>Want to become a member of our team?</h2>
        <p class="feedback-text">
            Currently, {{title}} is only in beta but  we would like to expand 
            our server in order to include many more  features. So if you are 
            interested in our project, head over to the Contacts page and leave 
            us some feedback to tell us in what you are interested in.
        </p>
    </div>
</div>