<!-- <div>
    <a class="backgroundText">> $ server please respond</a>
    <br>
    <a class="backgroundText">> $ no!</a>  
    
</div> -->
<div class="wrapper">
    <div class="title">
        <h1>Welcome to the somnus server!</h1>
    </div>
    
    <div class="floating_div">
        <h2>“Programs must be written for people to read, and only incidentally for machines to execute.”</h2>
        <p>
            This is a server made by programmers for programmers. Anyone that has logged in can access and 
            modify this server. If you have a new feature you want to implement contact us and start coding your way on the 
            <i>overload()</i> server.
        </p>
        <p>
            Learn about what drives this server on our Discord Server. Feel free to send feedback through there as well.
        </p>
    </div>
    
    <div class="floating_div">
        <h2>“Nobody in this industry knows what they’re doing, we just have a gut assumption.”</h2>
        <p>
            Of course we would have a gaming section. What kind of website would this be without a gaming section!
            We currently host a Minecraft server 
        </p>
        <p>
            Explore our Minecraft world and mine away into the night! We have a good community that will help you
            with anything you need.
        </p>
    </div>
</div>