
<h2>Start Writing your own Article</h2>
<div class="">
    <div>
        <form [formGroup]="editorForm" method="post">
            <!-- Article Name -->
            <mat-form-field appearance="fill">
                <mat-label>Article Name</mat-label>
                <input type="text" matInput formControlName="article_name" placeholder="Name of your Article">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Article Description</mat-label>
                <input type="text" class="description-input" matInput formControlName="description">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Select Article Type</mat-label>
                <mat-select formControlName="type">
                  <mat-option *ngFor="let type of articleTypes" [value]="type">
                    {{type}}
                  </mat-option>
                </mat-select>
            </mat-form-field>
            <br>
            <!-- Editor content -->
            <div class="form-group">
                <app-quill-editor *ngIf="!article" (onEditorContentChange)="setEditorContent($event)"></app-quill-editor>
                <app-quill-editor *ngIf="article" (onEditorContentChange)="setEditorContent($event)" [article]="article"></app-quill-editor>
            </div>
        </form>    
    </div>

    <div>
        <div *ngIf="!checkContent()">
            <h2>Start writing to get a preview of your article!</h2>
        </div>
        <div *ngIf="checkContent()">
            <h2>Here's the result</h2>
            <div id="article-container">
                <h2>
                    <b><i>{{editorForm.get('article_name').value}}</i></b>
                </h2>
                <div [innerHTML]="editorContent" class="show-content"></div>
            </div>
        </div>
    </div>

    <!-- Publish -->
    <div class="publish-article" *ngIf="canPublish()">
        <button class="btn btn-primary" (click)="sendArticleData()">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Publish your article
        </button>
    </div>

    <div class="publish-article" *ngIf="!canPublish()">
        <h2>Please fill in all the fields before publishing the article.</h2>
    </div>
</div>
