<div id="comments-section">
    <form [formGroup]="commentForm" (ngSubmit)="submitComment()" method="post">
        <mat-form-field appearance="fill">
            <mat-label>Leave a Comment</mat-label>
            <input id="comment-box" type="text" matInput formControlName="comment" >
        </mat-form-field>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit Comment</button>
        </div>
    </form>
</div>

<div id="comments-section">
    <div class="user-comment" *ngFor="comment in userComments">
        <!-- Make a modern comment box -->
        <h3>{{comment.username}}</h3>
    </div>
</div>