.login-button {
    margin-right: 10pt;
    margin-left: 10pt;
}

.user-button {
    margin-right: 10pt;
    margin-left: 10pt;
    background-size: cover;
}

.navbar-toggler{
    float: right;
}

.navbar-brand {
    transition: 0.5s ease;
}

.navbar-brand:hover {
    opacity: 0.7;
}

.somnus-img {
    max-height: 30pt;
    max-width: 30pt;
}



@media only screen and (max-width: 575px) {
    .login-button {
        margin-left: 0pt;
        margin-right: 0pt;
        width: 100%;
    }

    .user-button {
        margin-left: 0pt;
        margin-right: 0pt;
        margin-right: 20pt;
    }

}