.navbar {
    height: 50pt;
}

.navbar-toggler {
    border: 0pt;
    transition: 0.5s ease;
}

.navbar-toggler:hover {
    opacity: 0.7;
}

.login-button {
    position: absolute;
    right: 20pt;
}

.user-button {
    position: absolute;
    right: 20pt;
    background-size: cover;
}

.navbar-brand {
    all: unset;
    transition: 0.5s ease;
    position: absolute;
    top: 5pt;
    left: 50%;
    margin-left: -20pt !important;
}

.navbar-brand:hover {
    opacity: 0.7;
}

.somnus-img {
    max-height: 40pt;
    max-width: 40pt;
}

.left, .right {
    position: absolute;
}

.left {
    left: 50%;
    margin-left: -150pt;
}

.right {
    right: 50%;
    margin-right: -150pt;
}

.search {
    position: absolute;
    display: block;
    left: 20pt;
    width: 140pt;
}

.form-control {
    color: white;
    background-color: transparent;
}


@media only screen and (max-width: 900px) {
    .search {
        width: 75pt;
        margin: 0 auto;
    }
    .left {
        margin-left: -120pt;
    }
    .right {
        margin-right: -120pt;
    }
}

@media only screen and (max-width: 575px) {
    .user-button, .login-button {
        position: static;
        right: 5%;
    }
    .left,
    .right {
        position: unset;
        display: unset;
        width: unset;
        margin: unset;
        bottom: -10pt;
    }
    .navbar-brand {
        top: 0pt;
    }
    .navbar {
        height: auto;
    }
    .search {
        position: static;
        top: auto;
        right: auto;
        width: 100%;
    }
}