<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand" routerLink="/homePage">
        <img src="../../../assets/icons/Somnus.png" class="somnus-img">
    </a>

    <!-- Avatar Button -->
    <button *ngIf="user" [matMenuTriggerFor]="avatarMenuDropDown" mat-mini-fab [ngStyle]="{ 'background-image': 'url(' + user?.photoURL +')' }" class="user-button">
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav left">
            <!-- mr-auto -->
            <li class="nav-item" [ngClass]="{'active': isActive('/articles')}">
                <a class="nav-link" routerLink="articles">Articles</a>
            </li>
            <li class="nav-item" [ngClass]="{'active': isActive('/news-posts')}">
                <a class="nav-link" routerLink="news-posts">News</a>
            </li>
            <!-- <li class="nav-item" [ngClass]="{'active': isActive('/server-info')}" *ngIf="isManagerOrAdmin()">
                <a class="nav-link" routerLink="server-info">Server Info</a>
            </li> -->
        </ul>
        <ul class="navbar-nav right">
            <li class="nav-item" [ngClass]="{'active': isActive('/team')}">
                <a class="nav-link" routerLink="team">Team</a>
            </li>
            <li class="nav-item" [ngClass]="{'active': isActive('/contacts')}">
                <a class="nav-link" routerLink="contacts">Contacts</a>
            </li>
        </ul>

        <form class="my-2 my-lg-0 search">
            <!-- Search -->
            <div class="md-form my-0">
                <input (keyup.enter)="onEnter(inputValue.value)" #inputValue class="form-control" type="text" placeholder="Search for articles" aria-label="Search">
            </div>
        </form>


        <!-- Avatar Menu -->
        <mat-menu #avatarMenuDropDown="matMenu">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>{{user?.displayName}}</mat-card-title>
                    <mat-card-subtitle>{{user?.email}}</mat-card-subtitle>
                </mat-card-header>
            </mat-card>
            <button mat-menu-item routerLink="/user-profile">
                <mat-icon>person</mat-icon>
                <span>User Profile</span>
            </button>
            <button mat-menu-item routerLink="/server-info">
                <mat-icon>storage</mat-icon>
                <span>Server Status</span>
            </button>
            <button mat-menu-item (click)="logout()">
                <mat-icon>exit_to_app</mat-icon>
                <span>Sign out</span>
            </button>
        </mat-menu>

        <!-- Login Button -->
        <button *ngIf="!user" mat-button class="login-button btn btn-primary" routerLink="/login">
            <a> Login</a>
        </button>
    </div>



</nav>