.everything {
    overflow: hidden;
    position: relative;
    min-height: 100vh;
}

.main-content {
    margin: 0 auto;
    text-align: center;
    /* width: 90%; */
    /* padding: 10pt; */
    margin-bottom: 130pt;
    margin-top: 20pt;
    min-height: fit-content;
}

.footer-content {
    background-color: rgb(34, 34, 34);
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-top: 5pt;
    height: 125pt;
}

@media only screen and (max-width: 700) {
    .main-content {
        width: 100%;
    }
}

@media only screen and (max-width: 500) {
    .main-content {
        padding-bottom: 220pt;
    }
    .footer-content {
        padding-top: 0pt;
        height: 220pt;
    }
}