
.everything {
    overflow: hidden;
    position: relative;
    min-height: 100vh;
}

.main-content {
    margin: 0 auto;
    text-align: center;
    width: 90%;
    padding: 10pt;
    padding-bottom: 130pt;
}

.footer-content{
    background-color: rgb(34, 34, 34);
    position: absolute;
    bottom:0;
    width: 100%;
    padding-top: 5pt;
    height: 130pt;
}

@media only screen and (max-width: 700) {
    .main-content {
        width: 100%;
    }

    .footer-content{
        padding-top: 0pt;
    }
}

@media only screen and (max-width: 500) {
    .main-content {
        padding-bottom: 220pt;
    }

    .footer-content{
        padding-top: 0pt;
        height: 220pt;
    }
}

