
/* You can add global styles to this file, and also import other style files */
html, body { 
    height: 100%; 
}

body { 
    margin: 0; 
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(41, 41, 41); 
}

h2{
  font-size: 20pt !important;
  text-align: center;
  color: white;
}

h3 {
  font-size: 17pt !important;
  text-align: center;
}

p {
  color: white;
  font-size: 15pt !important;
  line-height: 30pt;
  text-align: justify;
}

.content-wrapper {
  color: white;
}


/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE and Edge */
html {
  -ms-overflow-style: none;
}

h1 {
  color: white;
}