.contact  {
    color: white
}
  
#description_input {
  width: 350pt;
  height: 150pt;
}

.input_style {
  height: 20pt;
  width: 350pt;
  margin: 3pt;
  padding: 2pt;
  border: 0pt;
  font-size: 10pt;
  background-color: #494949;
  color: white;
}

#contact_text{
  margin-left: 20pt;
  font-size: 15pt;
  width: 60%;
}

#form_style {
  margin: 20pt;
}

@media screen and (max-width: 500pt) {
  .contact{
    text-align: center;
  }

  #contact_text {
    margin: 0pt;
  }

  #description_input {
    width: 80%;
    height: 200pt;
  }
  
  .input_style {
    width: 80%;
  }
}