<div class="contact">
    <a id="contact_text">Anything you want to tell us? Feel free to send us a message!</a>
    <!-- Does nothing yet. Should do action="send_mail.php" -->
    <form id="form_style" method="post">
        <a class="formText">First Name:</a> <br>
        <input class="input_style" type="text" name="first_name"><br>
        <a class="formText">Email:</a> <br>
        <input class="input_style" type="email" name="email_address"> <br>
        <a class="formText">What do you want to say:</a> <br>
        <textarea class="input_style" type="text" id="description_input" name="comments" maxlength="500"></textarea> <br>
        <input class="input_style" type="submit" value="Submit" >
    </form>
</div>