<div class="add-element">
    <button mat-fab color="primary" aria-label="Add story button" id="add-button" (click)="showAddGameEvent()">+</button>
    <div *ngIf="showAddGames" [@inOutAnimation] id="show-add-games">
        <app-add-game-event></app-add-game-event>
    </div>
</div>

<div id="content-wrapper">
    <div class="floating-box" *ngFor="let gameAchievement of listAchievements">
        <div class="box-left">
            <!-- left div -->
            <img class="img-style" src="{{gameAchievement.photoPath}}">
        </div>
        <div class="box-right">
            <!-- right div -->
            <h2>{{gameAchievement.title}}</h2>

            <div>
                <div>
                    <!-- align div to left -->
                    <a class="author-name">{{gameAchievement.author}} </a>
                    <a>{{gameAchievement.dateAdded | date:'mediumDate'}}</a>
                </div>
            </div>
            <p>{{gameAchievement.description}}</p>
        </div>
    </div>
</div>