
<h2>Start Writing your own Article</h2>
<div class="container">
    <div class="row" *ngIf="publishError">
        <div class="col-12 alert alert-danger">
          {{ publishError?.message }}
        </div>
    </div>
    <div>
        <form [formGroup]="editorForm" method="post">
            <!-- Article Name -->
            <div class="form-group">
                <label for="article_name" class="control-label">Article Name</label>
                <input type="text" class="form-control" id="article_name" formControlName="article_name" placeholder="Name of your Article">
                <div *ngIf="submitted && form.article_name.errors" class="invalid-feedback">
                    <div *ngIf="form.article_name.errors.required">Article Name is required</div>
                </div>
            </div>
            <div class="form-group">
                <label for="description" class="control-label">Article Description</label>
                <input type="text" class="form-control description-input" id="description" formControlName="description" placeholder="Describe your article">
                <div *ngIf="submitted && form.description.errors" class="invalid-feedback">
                    <div *ngIf="form.description.errors.required">Description is required</div>
                </div>
            </div>
            <div class="form-group">
                <label for="type" class="control-label">Select Article Type</label>
                <select class="custom-select" formControlName="type">
                   <option *ngFor="let type of articleTypes" [ngValue]="type">{{type}}</option>
                </select>
                <div *ngIf="submitted && form.type.errors" class="invalid-feedback">
                    <div *ngIf="form.type.errors.required">Type is required</div>
                </div>
            </div>
            <br>
            <!-- Editor content -->
            <div class="form-group">
                <app-quill-editor (onEditorContentChange)="setEditorContent($event)"></app-quill-editor>
            </div>
        </form>    
    </div>

    <div>
        <div *ngIf="!checkContent()">
            <h2>Start writing get a preview of your article!</h2>
        </div>
        <div *ngIf="checkContent()">
            <h2>Here's the result</h2>
            <div id="article-container">
                <h2>
                    <b><i>{{editorForm.get('article_name').value}}</i></b>
                </h2>
                <div [innerHTML]="editorContent" class="show-content"></div>
            </div>
        </div>
    </div>

    <!-- Publish -->
    <div class="publish-article" *ngIf="canPublish()">
        <button class="btn btn-primary" (click)="sendArticleData()">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Publish your article
        </button>
    </div>

    <div class="publish-article" *ngIf="!canPublish()">
        <h2>Please fill in all the fields before publishing the article.</h2>
    </div>
</div>
